<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-xs-1">ID</th>
            <th class="col-xs-1">User ID</th>
            <th class="col-xs-1">Number of Items</th>
            <th class="col-xs-1">Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders">
            <td>{{order.id}}</td>
            <td>{{order.user.id}}</td>
            <td>{{order.nrOfItems}}</td>
            <td>{{order.totalPrice | currency}}</td>
        </tr>
        </tbody>
    </table>
</div>