<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-xs-1">ID</th>
            <th class="col-xs-1">Name</th>
            <th class="col-xs-1">Description</th>
            <th class="col-xs-1">Image Url</th>
            <th class="col-xs-1">Price</th>
            <th class="col-xs-1">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.imageUrl}}</td>
            <td>{{product.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="onDeleteProductBtnClicked(product)">Delete</button>
                <a class="btn btn-warning" ui-sref="{{appStates.admin.createProduct.name}}({productId: product.id})">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" ui-sref="{{appStates.admin.createProduct.name}}">Add</a>
</div>