<div>
    <h1>Add new product:</h1>
    <br>
    <div>
        <form class="form-horizontal" novalidate ng-submit="onCreateProductFormSubmit()">
            <div class="form-group">
                <label class="col-xs-2" for="name">Name</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" id="name" ng-model="productData.name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="description">Description</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" id="description" ng-model="productData.description"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="image-url">Image Url</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" id="image-url" ng-model="productData.imageUrl"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="price">Price</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" id="price" ng-model="productData.price"/>
                </div>
            </div>

            <button class="btn btn-success col-xs-offset-3" type="submit">Add</button>
            <a ui-sref="{{appStates.admin.listProducts.name}}" class="btn btn-danger col-xs-offset-1">Cancel</a>
        </form>
    </div>
</div>