<div class="row">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="cartItem in cartItems">
            <td>{{cartItem.product.name}}</td>
            <td>{{cartItem.product.price | currency}}</td>
            <td><input type="number" name="cart-item-quantity" ng-model="cartItem.quantity"></td>
            <td>
                <button class="btn btn-danger" ng-click="removeCartItem(cartItem)">Remove</button>
            </td>
        </tr>
    </table>

    <button class="btn btn-primary" ng-click="sendOrder()">Send Order</button>
</div>