<div class="row">
    <div class="col-xs-3" ng-repeat="product in products">
        <div>
            <img ng-src="{{product.imageUrl}}">
        </div>
        <div>
            <h3>{{product.name}}</h3>
        </div>
        <div>
            <p>{{product.description}}</p>
        </div>
        <div>
            <h2>{{product.price | currency}}</h2>
        </div>
        <div>
            <button ng-if="product.isInCart" ng-click="removeFromCart(product)" class="btn btn-danger">Remove from cart</button>
            <button ng-if="!product.isInCart" ng-click="addToCart(product)" class="btn btn-primary">Add to cart</button>
        </div>
    </div>
</div>