<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Food Market</span>
        </div>
        <div>
            <ul class="nav navbar-nav" ng-if="auth.isAdmin()">
                <li ui-sref-active="active">
                    <a ui-sref="{{appStates.admin.listProducts.name}}">Products</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="{{appStates.admin.listOrders.name}}">Orders</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="!auth.isAdmin() && auth.isLoggedIn()">
                <li ui-sref-active="active">
                    <a ui-sref="{{appStates.home.name}}">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="{{appStates.cart.name}}">Cart</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="main.login">
                        {{auth.getCurrentUser().username ? 'Welcome ' + auth.getCurrentUser().username + '!' : 'Log In'}}
                    </a>
                </li>
                <li class="pointer" ng-show="auth.getCurrentUser().username">
                    <a ng-click="onLogoutBtnClicked()">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" ui-view></div>

<footer class="container">
    <hr />
    <p>&copy; Food Market 2015</p>
</footer>