<div id="login-view">
    <h1>Log In</h1>
    <h2>Use an user or admin account to log in.</h2>
    <hr/>
    <form class="form-horizontal" name="loginForm" ng-submit="loginForm.$valid && onLoginFormSubmitted()">
        <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$dirty}">
            <label class="col-xs-2 control-label" for="username">Username</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="username" name="username" ng-model="userData.username"
                       required/>
            </div>
            <div ng-messages="loginForm.username.$error" class="text-danger col-xs-4 control-label" role="alert"
                 ng-if="loginForm.username.$dirty">
                <div ng-message=" required">Please enter a username</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
            <label class="col-xs-2 control-label" for="password">Password</label>
            <div class="col-xs-10">
                <input class="form-control" type="password" id="password" name="password" ng-model="userData.password"
                       required/>
            </div>
            <div ng-messages="loginForm.password.$error" class="text-danger col-xs-4 control-label" role="alert"
                 ng-if="loginForm.password.$dirty">
                <div ng-message="required">Please enter a password</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10">
                <button class="btn btn-default" ng-hide="isLoading" type="submit" ng-disabled="loginForm.$invalid">Log
                    In
                </button>
                <a ui-sref="{{appStates.register.name}}" class="btn btn-default">Register</a>
            </div>
        </div>
        <p class="text-danger">
            {{errorMessage}}
        </p>
    </form>
</div>