<div id="login-view">
    <h1>Register</h1>
    <hr/>
    <form class="form-horizontal" name="registerForm" ng-submit="registerForm.$valid && onRegisterFormSubmitted()">
        <div class="form-group"
             ng-class="{'has-error': registerForm.username.$invalid && registerForm.username.$dirty}">
            <label class="col-xs-2 control-label" for="username">Username</label>
            <div class="col-xs-10">
                <input class="form-control" id="username" type="text" name="username" ng-model="userData.username"
                       required/>
            </div>
            <div ng-messages="registerForm.username.$error" class="text-danger col-xs-4 control-label" role="alert"
                 ng-if="registerForm.username.$dirty">
                <div ng-message=" required">Please enter a username</div>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error': registerForm.password.$invalid && registerForm.password.$dirty}">
            <label class="col-xs-2 control-label" for="password">Password</label>
            <div class="col-xs-10">
                <input class="form-control" id="password" type="password" name="password" ng-model="userData.password"
                       required/>
            </div>
            <div ng-messages="loginForm.password.$error" class="text-danger col-xs-4 control-label" role="alert"
                 ng-if="registerForm.password.$dirty">
                <div ng-message="required">Please enter a password</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label" for="role">Role</label>
            <div class="col-xs-10">
                <select id="role" ng-model="userData.role">
                    <option selected value="ROLE_USER">User</option>
                    <option value="ROLE_ADMIN">Admin</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10">
                <button class="btn btn-primary" ng-hide="isLoading" type="submit" ng-disabled="registerForm.$invalid">
                    Register
                </button>
                <a ui-sref="{{appStates.login.name}}" class="btn btn-default">Cancel</a>
            </div>
        </div>
        <p class="text-danger">
            {{errorMessage}}
        </p>
    </form>
</div>